:root {
    --primary-color: #E91011;
    --secondary-color: #DC9888;
    --third-color: #FFE5D9;
    --fourth-color: #54B9CC;
}
* {
    user-select: none;
    -webkit-user-drag: none;
    transition: all .3s;
}
html, body {
    background-color: #0c1318;
    background-image: url(./imgs/pizzaBackground.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height:100%;
    width:100%;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.opacity2 {
    background: rgba(0, 0, 0, 0.703);
}
.opacity {
    background: rgba(0, 0, 0, 0.5);
}

.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.2);
    z-index: 1;
}

.contMain {
    height:100%;
    margin:0;
    position: relative;
    display: flex;
    flex-direction: column;
}
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
.brandCont {
    margin: 4% auto;
    text-align: center;
}
.brandLogo{
    width: 400px;
    margin: 0;
    padding: 0;
}
.brandText {
    margin: 0;
    padding: 0;
    margin-top: 2vh;

    font-size: 5em;
    color: white;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
.contSection {
    height: 100%;
    width: 100%;
}
/*--------------------------------*/
.section {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*--------------------------------*/
.contUp {
    max-width: 80%;
    margin: auto;
}
/*--------------------------------*/
.infoCont h1 {
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    letter-spacing: .5vh;
}
.infoCont p {
    font-size: 1.3em;
    text-align: justify;
}
/*--------------------------------*/
.social {
    margin: 2% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*--------------------------------*/
.socialIcon {
    width: 40px;
    margin-right: 2vh;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(133deg) brightness(101%) contrast(102%);
}
/*--------------------------------*/
.allWidgetCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.widgetCont {
    width: max-content;
    height: 50px;
    padding: 1vh;
    display: flex;
    background-color: white;
    border-radius: 10px;
}
.widgetIcon {
    width: 20px;
    filter: invert(0%) sepia(0%) saturate(7486%) hue-rotate(340deg) brightness(99%) contrast(106%);float: left;
}
.widgetText {
    margin: auto;
    margin-left: .5vh;
    color: black;
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
}
.phoneCont {
    margin-right: 3vh;
}
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
.contDown{
    display: flex;
    flex-direction: row;
}
/*--------------------------------*/
.linkCont {
    text-decoration: none;
    width: 100%;
    height: 400px;
    display: flex;
}
.linkCont h3 {
    color: white;
}
/*--------------------------------*/
.menuIconCont {
    background-image: url(./imgs/pizzaListOne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.aboutIconCont {
    background-image: url(./imgs/pizzaListTwo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.menuIconCont div, .aboutIconCont div {
    margin: auto;
    text-align: center;
    border: 5px solid white;
    padding: 7% 35%;
}
/*--------------------------------*/
.widgetDownIcon {
    margin: auto;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(133deg) brightness(101%) contrast(102%);
    width: 150px;
    height: 150px;
}
.widgetDownText {
    margin: auto;
    font-size: 2em;
}
.backgroundOpacity {
    background: rgba(12, 19, 24, 0.2);
}
.backgroundOpacity:hover {
    background: rgba(12, 19, 24, 0.6);
}


/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/

.contMenu {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: space-between;
}
.contMenuTitle {
    width: max-content;
    margin: 2vh 0;
    padding: 0 2vh;
    border-radius: 15px;
}
.menuTitle {
    color: white;
    filter: drop-shadow(5px 5px #686868);
    font-size: 7em;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.contHomeTitle {
    width: max-content;
    margin: auto 0;
    padding: 0 2vh;
    border-radius: 15px;
}
.homeTitle {
    color: white;
    filter: drop-shadow(5px 5px #686868);
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 3em;
}
.homeTitle a {
    text-decoration: none;
    color: white;
}

/*
font-family: 'Caveat', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Satisfy', cursive;
font-family: 'Yellowtail', cursive;
*/
/*--------------------------------*/

.contAllPizzaWidget {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    border-radius: 15px;
}
.contAllPizzaWidget .row {
    margin: 0;
    padding: 0;
}

/*--------------------------------*/
.contWidgetTitle {
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.contWidgetTitle .col {
    padding: 0;
    margin: 0;
}
.whiteLine {
    border-bottom: 1px solid white;
}
.widgetTitle {
    margin: 0;
    font-family: 'Kaushan Script', cursive;
    color: #ffffff;
    filter: drop-shadow(5px 5px #00780c);
    font-size: 10em;
}
.imgWidget {
    margin: auto;
    width: 100%;
    height: 200px;
    background-color: #0c1318;
    background-image: url(./imgs/pizzaListOne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;

    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

}

/*--------------------------------*/

.textWidget {
    margin: 0;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    letter-spacing: .1vh;
    width: max-content;
}

.textWidgetPrice{
    margin: 0;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    letter-spacing: .1vh;
}

.leftMenuWidget {
    margin: 0;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
}
.rightMenuWidget {
    margin: 0;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1460px) {
    .menuWidgetsCont{
        display: flex;
        flex-direction: column;
    }
    .leftMenuWidget {
        border-bottom: 1px solid white;
    }
} 
@media (max-width: 1200px) {
    .widgetTitle {
        margin: auto;
        padding: auto;
        font-size: 8em;
    }
    .contWidgetTitle {
        margin: auto;
    }
} 



@media (max-width: 1600px) {
    .infoCont h1 {
        font-size: 2.5em;
    }
    .infoCont {
        max-width: 100%;
        margin-right: 2%;
    }
    .social {
        max-width: 100%;
        margin-right: 2%;
    }
    .rightContent h3 {
        font-size: 1.3em;
        white-space: nowrap;
    }
}

@media (max-width: 1400px) {
    .contDown {
        max-width: 100%;
        padding: 2vh 5vh 5vh;
    }

    .infoCont h1 {
        font-size: 2em;
    }
    .allWidgetCont {
        margin: 0;
    }

    .rightContent {
        margin: auto;
    }
    .vl {
        margin: 0 1vh;
    }
    .linkCont {
        transform: scale(.8);
    }
}

@media (max-width: 1000px) {
    body {
        height: max-content;
    }
    .brandCont {
        transform: scale(.9);
    }

    .contContent {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .leftContent {
        margin: auto;
        width: 100%;
        margin-bottom: 2vh;
        border-bottom: 1px solid white;
        padding-bottom: 2vh;
    }
    .vl {
        display: none;
    }
    .leftContent h1 {
        font-size: 2.5em;
    }
    .linkCont {
        margin-top: 5vh;
        background-color: white;
        color: black;
        border-radius: 15px;
        padding: 2vh;
        width: 200px;
        height: 180px;
        transform: scale(1.3);
    }
    .menuIcon, .aboutUsIcon {
        filter: none;
    }
}

@media (max-width: 740px) {
    .brandCont {
        transform: scale(.8);
    }
    .brandText {
        outline: auto;
    }

    .infoCont h1 {
        font-size: 2em;
    }
    .socialCont {
        margin: auto 0;
        width: 100%;
    }
    .socialIcon {
        margin: 0 .5vh;
    }

    .allWidgetCont {
        margin: auto;
    }
    .widgetCont {
        font-size: .8em;
    }

    .rightContent {
        display: flex;
        flex-direction: column;
        margin: 5vh 0;
    }
    .linkCont {
        transform: scale(1);
        margin: auto;
        width: 100%;
        height: 300px;
        border-radius: 0;
        margin-bottom: 20vh;
        padding: 0;
    }
    .linkCont div img {
        margin: auto;
    }
}

@media (max-width: 550px) {
    .leftContent h1 {
        font-size: 3em;
        text-align: left;
    }
    .socialCont {
        width: 10%;
    }
    .allWidgetCont {
        margin: auto 2vh;
    }
    .widgetCont {
        transform: scale(1);
        margin-bottom: 1vh;
    }
    
}

@media (max-width: 440px) {
    .allWidgetCont {
        flex-direction: column;
    }
    .leftContent h1 {
        font-size: 2em;
        text-align: left;
    }
    .brandCont {
        transform: scale(.8);
    }
}


/*
font-family: 'Caveat', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Satisfy', cursive;
font-family: 'Yellowtail', cursive;
*/

/*--------------------------------*/


/*--------------------------------*/
