body {   
    height: max-content;
}

.contMenu {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: space-between;
}
.contMenuTitle {
    width: max-content;
    margin: 2vh 0;
    padding: 0 2vh;
    border-radius: 15px;
}
.menuTitle {
    color: white;
    filter: drop-shadow(5px 5px #686868);
    font-size: 7em;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.contHomeTitle {
    width: max-content;
    margin: auto 0;
    padding: 0 2vh;
    border-radius: 15px;
}
.homeTitle {
    color: white;
    filter: drop-shadow(5px 5px #686868);
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 3em;
}
.homeTitle a {
    text-decoration: none;
    color: white;
}

/*
font-family: 'Caveat', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Satisfy', cursive;
font-family: 'Yellowtail', cursive;
*/
/*--------------------------------*/

.contAllPizzaWidget {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    border-radius: 15px;
}
.contAllPizzaWidget .row {
    margin: 0;
    padding: 0;
}

/*--------------------------------*/
.contWidgetTitle {
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.contWidgetTitle .col {
    padding: 0;
    margin: 0;
}
.whiteLine {
    border-bottom: 1px solid white;
}
.widgetTitle {
    margin: 0;
    font-family: 'Kaushan Script', cursive;
    color: #ffffff;
    filter: drop-shadow(5px 5px #00780c);
    font-size: 10em;
}
.imgWidget {
    margin: auto;
    width: 100%;
    height: 200px;
    background-color: #0c1318;
    background-image: url(./imgs/pizzaListOne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;

    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

}

/*--------------------------------*/

.textWidget {
    margin: 0;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    letter-spacing: .1vh;
    width: max-content;
}

.textWidgetPrice{
    margin: 0;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    letter-spacing: .1vh;
}

.leftMenuWidget {
    margin: 0;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
}
.rightMenuWidget {
    margin: 0;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1460px) {
    .menuWidgetsCont{
        display: flex;
        flex-direction: column;
    }
    .leftMenuWidget {
        border-bottom: 1px solid white;
    }
} 
@media (max-width: 1200px) {
    .widgetTitle {
        margin: auto;
        padding: auto;
        font-size: 8em;
    }
    .contWidgetTitle {
        margin: auto;
    }
}